<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mean Girl Burn Book</title>
    <style>
      .signedin {
        /* width: 400px; */
        display: flex;
        align-items: center;
        gap: 10px;
      }
      body {
        background-color: rgb(204, 167, 173);
        padding: 50px;
      }
    </style>
  </head>
  <body>
    <h1>Mean Girl Burn Book</h1>
    <% if (user) { %>
    <div class="signedin">
      <p>Get in <b><%= user.username %></b>. We're going shopping.</p>
      <form action="/logout" method="POST">
        <button type="submit">Log Out</button>
      </form>
    </div>
    <% if (user.membership) { %>
    <p>YOU GO GLENCOCO! You're in the klerb.</p>
    <% }} %> <% if (!user) { %>
    <form action="/signup"><button type="submit">Sign up</button></form>
    <% } else { %>
    <a href="/new"><button type="button">Write a message</button></a><br />
    <% } %>
    <br />
    <% messages.map( (msg) => { %>
    <div
      style="
        border-style: solid;
        border-color: black;
        border-width: 1px;
        padding: 20px;
      "
    >
      <p>
        <span style="font-weight: bold">Title:</span><br />
        <%=msg.title %>
      </p>
      <p>
        <span style="font-weight: bold">Message:</span><br />
        <%=msg.message %>
      </p>
      <p>
        <span style="font-weight: bold">Author:</span><br />
        <% if (user && user.membership) { %> <%=msg.author %> <% } else { %>
        Anonymous Mean Girl <% } %>
      </p>
      <p>
        <span style="font-size: smaller; color: gray"><%=msg.timestamp %></span
        ><br />
        <% if (user && user.admin) { %>
          <form action="/delete" method="POST">
            <button type="submit">Delete</button>
            <input type="hidden" name="messageId" value="<%=msg.id %>">
          </form>
        <% } %>
      </p>
    </div>
    <br />
    <% }) %>
  </body>
</html>
